.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage-bgimage {
  background: url("./img/climatecrisis.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-bgimage {
  background: url("./img/Ammal_bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rachel-bgimage {
  background: url("./img/Rachel_bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.story-bgimage {
  background: url("./img/story_bg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.story-img {
  width: 100vh;
  display: block;
  padding-top: 18vh;
  margin-left: auto;
  margin-right: auto;
}

.woman-img {
  width: 70vh;
  position: absolute;
  left: 10%;
  bottom: 5%;
}

.start-btn {
  background-color: #035c50;
  border: none;
  color: white;

  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;

  bottom: 5%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.start-btn:hover {
  background-color: #022c27;
}

.continue-btn {
  background-color: #ec90be;
  border: none;
  color: Black;

  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;

  bottom: 5%;
  right: 10%;
}

.ammal-text {
  color: white;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  width: 85vh;

  position: absolute;
  right: 10%;
  top: 5%;
}

.rachel-btn {
  background-color: #00cad1;
  border: none;
  color: Black;

  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;

  bottom: 5%;
  right: 10%;
}

.rachel-btn:hover {
  background-color: #008d92;
}

.rachel-text {
  color: black;
  font-size: 18px;
  font-family: Verdana, Helvetica, sans-serif;

  width: 90vh;

  position: absolute;
  right: 10%;
  top: 5%;
}

.gladys-btn {
  background-color: #6734df;
  border: none;
  color: white;

  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;

  bottom: 5%;
  right: 10%;
}

.gladys-btn:hover {
  background-color: #3e1b8f;
}

.gladys-img {
  width: 60vh;
  position: absolute;
  left: 10%;
  bottom: 5%;
}

.gladys-bgimage {
  background: url("./img/space.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gladys-text {
  color: white;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  width: 100vh;

  position: absolute;
  right: 10%;
  top: 5%;
}

/* GRETA */
.greta-btn {
  background-color: #77f302;
  border: none;
  color: black;

  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;

  bottom: 5%;
  right: 10%;
}

.greta-btn:hover {
  background-color: #50960e;
}

.greta-img {
  width: 70vh;
  position: absolute;
  left: 10%;
  bottom: 5%;
}

.greta-bgimage {
  background: url("./img/greta_bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.greta-text {
  color: white;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  width: 100vh;

  position: absolute;
  right: 10%;
  top: 5%;
}

/*STORY BUTTONS*/
.storyrachel-btn {
  background-color: transparent;
  border: black;

  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;

  top: 22vh;
  right: 68vh;

  /* 
  STRAW
  bottom: 42vh;
  right: 42vh; */
}

.storygreta-btn {
  background-color: transparent;
  border: black;

  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;

  bottom: 33vh;
  left: 80vh;
}

.storygladys-btn {
  background-color: transparent;
  border: black;

  border-radius: 40px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;

  bottom: 20vh;
  right: 40vh;
}
